.home {
  background-color: rgba(158, 158, 158, 0.171);
  width: 100%;
  height: 1100px;
  &__intro {
    background-color: #ffffff;
    width: 100%;
    height: 50px;
    box-shadow: 0 3px 10px rgba(158, 158, 158, 0.432);
    position: relative;
  }
}

.wrapper {
  width: 800px;
  margin: 0 auto;

}
@media (max-width: 800px) {
  .wrapper {
    width: 95%;  
  }
}
@media (max-width: 600px) {
  .wrapper {
    width: 100%;  
  }
}