.newsform {
    width: 100%;
    display: flex;
    gap: 2px;
    &__input {
        width: 100%;
    }
    &__button {
        min-width: 120px ;
        height: 86px;
        font-size: medium;
        font-weight: 700;
    }
}
.newsitem {
    position: relative;
    margin: 2px 0;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(199, 197, 197);
    border-radius: 7px;
    width: 99.8%;
    min-height: 100px;
    display: flex;
    gap: 2px;
    &__content {
        width: 90%;
        text-align: left;
        padding: 0 10px;
        word-break: break-all;
    }
    h3 {
        margin: 0;
    }

    &__settings {
        width: 10%;
        padding-right: 10px;
        text-align: right;
        &--point {
            cursor: pointer;
            font-size: 20px;
            margin: 0;
            padding: 0;
        }
    }

    &__settingsmob {
        display: none;
    }
    &__menu {
        position: absolute;
        top: 32px;
        right: 35px;
        font-size: 16px;
        background-color: #fff;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
        z-index: 1000;
        &--item {

            text-align: center;
            padding: 5px 10px;
          cursor: pointer;
        }
        &--item:hover {
          background-color: #f1f2f3;
          
        }
      }
     
}

@media (max-width: 800px) {
    .newsitem {

        &__settings {
            display: none;
        } 
       &__settingsmob {
        display: block;
        text-align: right;
        padding: 0 2px;
       }
        &__buttonmob {
            width: 118px;
            height: 43px;
            font-size: 14px;
            font-weight: 700;
            margin-top: 2px;
        }    
    }
}